<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <% include layout %>
  </head>
  <body align="center">
    <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="500"
    height="500"
    src="/lex.html">
</iframe>
  </body>
</html>
