<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="/stylesheets/bootstrap.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Ahana</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Chat</a></li>
            <li><a href="/users/login">Login</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    </div>
  </body>
</html>